@media (min-width: 980px) {
  .sidenav-trigger {
    display: none;
  }
  .dropdown-menu {
    display: block;
    width: 10.546875vw;
  }
  .dropdown-menu li {
    width: 10.546875vw;
  }
  .dropdown-menu:hover {
    display: none;
  }
}
